[submodule "deps/shadowhook"]
	path = deps/shadowhook
	url = https://github.com/HanSoBored/android-inline-hook.git
[submodule "deps/xdl"]
	path = deps/xdl
	url = https://github.com/hexhacking/xdl.git
[submodule "deps/sljit"]
	path = deps/sljit
	url = https://github.com/zherczeg/sljit.git
